/* Definición de los estilos*/
body{
    background-color: black;
    color: white;
}
/* Estilos para los links */
a{
    color: hotpink;
}
a:hover{
color:yellow
}

/*Clase - Selectores*/
/*Si se quiere aplicar a algun componente se debe indicar, como " p "*/
.texto-centrado{
    text-align: center
    }
.titulo{
    font-size: 200%
    }